:root {
    --primarycolor: #8257e5;
    --primarycolorhover:#6542b5;
}
* { padding: 0; margin: 0 auto; }
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primarycolor) f9fafe;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: f9fafe;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--primarycolor);
    border-radius: 20px;
    border: 3px solid f9fafe;
}
body { background-color: #FEFEFE; width: 100vw; height: 100vh; overflow-x: hidden; }
h1, h2, h3, h4, h5, h5 {
    color: #1E1E1E;
    font-weight: 700;
    font-style: normal;
}
h1 { font-family: 'Montserrat', sans-serif; margin: 0; }
h2, h3, h4, h5, h5, p, li { font-family: 'Open Sans', sans-serif; }
h2 {
    font-size: 48px;
    line-height: 60px;
}
h2 > span {
    color:  var(--primarycolor);
}
header { display: flex; align-items: center; }
.moa-container-global {
    max-width: 1240px;
}
.moa-container-hero {
    margin-top: 72px;
}
.moa-container-hero nav, ul {
    display: flex;
}
.moa-container-hero nav>ul>li{
    display: flex;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}
.moa-container-hero button {
    border: 0;
    background: var(--primarycolor);
    border-radius: 16px;
    color: #FEFEFE;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    height: 56px;
    letter-spacing: 0.16em;
    line-height: 22px;
    margin: 0;
    padding: 0px 16px;
    text-transform: uppercase;
}
.moa-container-hero button:hover {
    background-color: var(--primarycolorhover);
}
.moa-container-content-hero {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moa-container-content-hero div {
    margin: 0;
}
.moa-container-content-hero h2 {
    margin-bottom: 20px;
}
.moa-container-content-hero p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    max-width: 500px;
}
.moa-container-content-hero button {
    margin: 30px 0;
}
.moa-img-social-media img {
    margin-right: 60px;
}
.moa-picture-default img {
    border: 4px solid var(--primarycolor);
    border-radius: 40px;
    max-width: 542px;
    object-fit: cover;
    width: 100%;
    height: 594px;
}
.moa-section-abilities {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px 0;
    text-align: center;
}
.moa-section-abilities h2 {
    margin-bottom: 48px;
}
.moa-abilities-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 24px;
    justify-content: center;
    align-content: center;
}
.moa-abilities-card {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    max-width: 400px;
    padding: 24px;
    text-align: center;
}
.moa-abilities-card h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 12px;
}
.moa-abilities-card span {
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.moa-abilities-card ul {
    display: block;
    text-align: left;
    padding-top: 24px;
    margin-left: 40px;
}
.moa-abilities-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.moa-abilities-card ul>li {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 5px 0px;
}